<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ABCSorveteria</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilo.css')}}">
</head>
<body>
            <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
              <a href="/index">Página Inicial</a>
              <a href="/produtos">Produtos</a>
              <a href="/comprar">Comprar</a>
              <a href="/cadastro">Cadastro</a>
              <a href="/login">Login</a>
              <a href="/sobre">Sobre a ABCSorveteria</a>
            </nav>

    <h1>{{titulo}}</h1>

    {% block conteudo %}
    {% endblock %}

    <h6>Desenvolvido por Diego</h6>

</body>
</html>