<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
  <nav>
      <a href="/index">Página Inicial</a>
      <a href="/produtos">Produtos</a>
      <a href="/compra">Comprar</a>
      <a href="/cadastro">Cadastro</a>
      <a href="/login">Login</a>
      <a href="/historia">Sobre a ...</a>

  </nav>

  <h1>Bem-Vindo! {{nome}}</h1>

  {% block conteudo %}
  {% endblock %}


  <footer>Desenvolvido por {{nome}}</footer>
</body>
</html>
